@{
    ViewData["Title"] = "Forside -";
}
<div style="height: 200px;"></div>
<div class="text-center mt-5 mb-5">
    <h1 class="display-4 mb-4">Velkommen til NyEl</h1>
    <p>Her på siden kan du følge med i dit elforbrug samt følge prisudviklingen for el.</p>
</div>
